---
# github auth key:
auth_key: abc1234
issue_repo: someone/Contributions
email_recipient: approvers@somewhere.org
email_recipient_name: Ap Provers
aws: # this SHOULD be an IAM user who can ONLY send email.
    region: us-east-1
    aws_access_key_id: xxx
    aws_secret_access_key: xxx
stomp:
    broker: stomp.broker.com
    port: 61613
